{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 mx-auto mb-3">
                <h2>About</h2>
                <hr />
                <p>JobGenie is a platform built to bring job seekers and 
                    recruiters together in a smarter, more personalized way.</p>
                
                <p>For candidates, JobGenie offers customizable profiles where skills and experiences can shine, making it 
                    easier to stand out to potential employers. Job listings can be searched and filtered to match 
                    personal preferences, helping candidates quickly discover the right opportunities.</p>

                <p>For recruiters, JobGenie provides simple tools to post openings with detailed requirements and review 
                    applications efficiently. Insights into candidate distribution make it easier to identify top talent 
                    and make data-driven hiring decisions.</p>
                
                <p>With a clean, user-friendly interface, JobGenie streamlines the hiring process so that both recruiters
                     and job seekers can focus on what matters most — finding the perfect fit.</p>
            </div>
            <div class="col-md-6 mx-auto mb-3 text-center">
                <img src="{% static 'img/about.jpg' %}"
                    class="max-width-100"
                    alt="about" />
            </div>
        </div>
    </div>
</div>
{% endblock content %}