{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 mx-auto mb-3">
                <h2>About</h2>
                <hr />
                <p>
                    JobGenie is a platform designed to connect job seekers with recruiters. Candidates have the
                    ability to personalize their profiles and showcase their skills to attract employers. Employers can 
                    utilize the site to publish job listings with important specifications and review applications
                    to find the person that best fits their needs. 
                </p>
                <p>
                    JobGenie allows for a user-friendly interface to allow for easy connections between the recruiters and
                    candidates. Candidates are able to search for jobs that fit their preferences with ease whilst recruiters
                    are able to visualize candidate distrubtion.
                </p>
            </div>
            <div class="col-md-6 mx-auto mb-3 text-center">
                <img src="{% static 'img/about.png' %}"
                    class="max-width-100"
                    alt="about" />
            </div>
        </div>
    </div>
</div>
{% endblock content %}